* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

:root {
	--primary: rgb(47, 45, 67);
	--secondary: rgb(80, 76, 121);
	--secondary-light: rgb(95, 92, 126);
}

html {
	font-family: sans-serif;
	background-color: var(--secondary);
}

body {
	height: 100vh;
	width: 100vw;
	background: linear-gradient(90deg, var(--secondary) calc(44px - 2px), transparent 1%) center,
		linear-gradient(var(--secondary) calc(44px - 2px), transparent 1%) center, var(--primary);
	background-size: 44px 44px;
}

/*===Modal===*/
.modal-content table,
.modal-content td,
.modal-content th {
	border: 2px solid rgba(255, 255, 255, 0.5);
}

.modal-content form {
	user-select: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-o-user-select: none;
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

button {
	border: none;
	border-radius: 10px;
}

button.delete {
	background-color: rgb(193, 71, 71);
	color: white;
	padding: 0.5rem;
}

button.submit {
	padding: 0.5rem;
}

button.add {
	padding: 0.3rem 0.5rem;
}

/*===CSS LOADER===*/
.lds-ripple {
	display: inline-block;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 80px;
	height: 80px;
}
.lds-ripple div {
	position: absolute;
	border: 4px solid #fff;
	opacity: 1;
	border-radius: 50%;
	animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}
.lds-ripple div:nth-child(2) {
	animation-delay: -0.5s;
}
@keyframes lds-ripple {
	0% {
		top: 36px;
		left: 36px;
		width: 0;
		height: 0;
		opacity: 0;
	}
	4.9% {
		top: 36px;
		left: 36px;
		width: 0;
		height: 0;
		opacity: 0;
	}
	5% {
		top: 36px;
		left: 36px;
		width: 0;
		height: 0;
		opacity: 1;
	}
	100% {
		top: 0px;
		left: 0px;
		width: 72px;
		height: 72px;
		opacity: 0;
	}
}
